<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="login">
    <h1>Car Market Rating Tool</h1>
    <form action="{{url_for('predict_datapoint')}}" method="post">
      <h1><legend>Car Market Rating Tool</legend></h1>
      {% for column, values in cate_value.items() %}
      <div class="mb-3">
        <label class="form-label">{{ column }}</label> 
        <select class="form-control" name="{{ column }}" required="">
          <option class="placeholder" selected disabled value="">
            Select {{ column }}
          </option>
          {% for value in values %}
          <option value="{{ value }}">
            {{ value }}
          </option>
          {% endfor %}
        </select>
      </div>
      {% endfor %} 
      {% for column in num_value %}
      <div class="mb-3">
        <label class="form-label">{{ column }}</label> 
        <input class="form-control" type="number" name="{{ column }}" placeholder="Enter {{ column }}" step="0.01">
      </div>
      {% endfor %}
      <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="rate your deal" required="">
      </div>
    </form>
    <h2>THE prediction is {{results}}</h2>
  </div>
</body>
</html>
